.map-section {
  position: relative;
  height: 98vh;
}
.map-section__map {
  width: 100%;
  height: 100%;
}
.map-section__add-point-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
}
.map-section__add-point-button img {
  height: 34px;
}
.map-section__button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-primary:hover {
  background-color: #0056b3;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: 1px solid #dc3545;
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-danger:hover {
  background-color: #bd2130;
}
